.ratingPage
  & .wrapper
    +mixinContainer
  
  .mainSection
    &-content
      padding-bottom: 64px
    &-header
      margin-top: 22px
      &-headline
        &:last-child
          margin-left: 0
        &_number
          margin-left: 10px
        &_organization
          margin-left: 22px
        &_safety
          margin-left: 36px
        &_rating
          margin-left: 55px
    &-tabLink
      margin-left: 40px
      padding-right: 20px
      position: relative
      &:before
        content: ""
        position: absolute
        top: 3px
        right: -10px
        width: 20px
        height: 20px
        background: url(../img/arrow-up-down.svg) no-repeat
      &_active
        &:before
          content: ""
          position: absolute
          top: 6px
          right: -11px
          width: 20px
          height: 20px
          background: url(../img/arrow-down.svg) no-repeat
    &-table
      &-cell
        padding: 0
        height: 70px
        &_number
          width: 138px
        &_organization
          width: 100px
          padding-right: 85px
        &_safety
          width: 170px
          padding-right: 55px
        &_rating
          width: 45px
          padding-right: 15px
        &_bonuses
          width: 85px
          padding-right: 60px
        &_site
          width: 45px
          padding-right: 10px
        &_review
          width: 70px
          padding-right: 22px
          
  .secondarySection
    &-grid
      background: rgba(0,0,0,0.01)

  .mainItem
    &-number
      padding-left: 24px
    &-site
      border: 1px solid rgba(0, 0, 0, 0.06)
      padding: 10px 16px 10px 16px
      cursor: pointer
      &:hover
        background: rgba(0,0,0,0.01)
      &:active
        background: rgba(0,0,0,0.1)
    &-review
      position: relative
      border: 1px solid rgba(0, 0, 0, 0.06)
      padding: 10px 40px 10px 16px
      cursor: pointer
      &:hover
        background: rgba(0,0,0,0.01)
      &:active
        background: rgba(0,0,0,0.1)
      &:before
        content: ""
        position: absolute
        top: 12px
        right: 5px
        width: 20px
        height: 20px
        background: url(../img/arrow-right.svg) no-repeat
    &-rating
      position: relative
      &:before 
        content: ""
        position: absolute
        top: 1px
        left: -22px
        width: 20px
        height: 20px
        background: url(../img/like.svg) no-repeat
  
  .filterSection
    margin-bottom: 26px
    &-expandIcon
      position: absolute
      right: 20px
      top: 25px
      background: rgba(0,0,0,0.5)
      width: 10px
      height: 2px
      &:after
        content: ""
        position: absolute
        left: 4px
        top: -4px
        width: 2px
        height: 10px
        background: rgba(0,0,0,0.5)
      &_opened
        &:after
          display: none
    ul
      list-style: none
      margin: 0
      padding: 0
    &Item
      border-bottom: 1px solid rgba(0, 0, 0, 0.06)
      font-family: HelveticaNeue-Medium
      font-size: 13px
      color: #000000
      position: relative
      letter-spacing: 0
      line-height: 16px
      &:hover
        background: rgba(0,0,0,0.04)
        .filterSectionItem-title-indicator
          opacity: .8
      &:active
        background: rgba(0,0,0,0.08)
        .filterSectionItem-title-indicator
          opacity: .5
      &-title
        display: block
        cursor: pointer
        padding: 17px 79px 17px 18px
        input
          display: none
        input + .filterSectionItem-title-indicator
          position: absolute
          right: 15px
          display: block
          height: 20px
          width: 20px
          background: url("../img/checkbox.svg") no-repeat
        input:checked + .filterSectionItem-title-indicator
          background: url("../img/checkbox-on.svg") no-repeat
      &_safety,
      &_currency
        cursor: pointer
      &-hiddenContent
        padding-top: 12px
        padding-bottom: 12px
        display: none
        background: rgba(0,0,0,0.02)
        font-family: HelveticaNeue-Medium
        font-size: 13px
        color: #000000
        letter-spacing: 0
        line-height: 16px
        input
          position: absolute
          right: 16px
          top: 14px
        &-row
          position: relative
          .filterSectionItem-title
            padding: 8px 79px 8px 32px
            &:hover
              .filterSectionItem-title-indicator
              opacity: .9
            &:active
              .filterSectionItem-title-indicator
              opacity: .7

@media (min-width: $small-desktop-widths) and (max-width: $small-desktop-widths-max)
  .ratingPage
    .mainSection
      margin-left: 0
      width: 615px
      &-header
        &-headline
          padding-left: 11px
          padding-right: 12px
          &_number
            margin-left: 8px
          &_organization
            margin-left: 0
          &_safety
            margin-left: 0
          &_rating
            margin-left: 0
      &-table
        &-cell
          &_organization
            padding-right: 18px
            padding-left: 20px
          &_safety
            padding-right: 40px
          &_bonuses
            padding-right: 30px
            padding-left: 10px
          &_review
            padding-right: 10px

@media (min-width: $tablet-widths-only-min) and (max-width: $tablet-widths-only-max)
  .ratingPage
    .mainSection
      width: 600px
      margin-left: 0
      &-header
        &-headline
          &_organization
            margin-left: 0
          &_safety
            margin-left: 7px
          &_rating
            margin-left: 0px
      &-content
        width: 600px
      &-table
        &-cell
          &_number
            padding-right: 20px
          &_rating
            padding-right: 35px
          &_site
            display: none
          &_organization
            padding-right: 45px
          &_bonuses
            padding-right: 40px
            
    .wrapper
      display: flex
      flex-wrap: wrap
      .mainSection
        order: 2
      .sidebar
        order: 1
        
    .secondarySection
      &-title
        background: rgba(0,0,0,0.01)
        padding-top: 15px
        padding-left: 18px
        margin-top: 46px
        border: 1px solid rgba(0, 0, 0, 0.06)
        position: relative
        &:before
          content: ""
          position: absolute
          right: 24px
          top: 19px
          width: 2px
          height: 10px
          background: rgba(0, 0, 0, 0.5)
        &:after
          content: ""
          position: absolute
          right: 20px
          top: 23px
          width: 10px
          height: 2px
          background: rgba(0, 0, 0, 0.5)
        
            
      .js-mobileFilter
        &_opened
          &:before
            display: none
      .js-mobileFilter-content
        display: none
      .js-resetFilter
        display: none
      

@media (max-width: $mobile-widths-only)
  .ratingPage
    .mainSection
      width: 280px
      margin-left: 0
      .sectionHeader
        display: block
        .title
          margin-top: 0px
          display: block
      &-tabs
        margin-top: 15px
        margin-right: 0
        padding-bottom: 11px
      &-tabLink
        margin-left: 58px
        &:first-child
          margin-left: 0
      &-header
        &-headline
          font-size: 10px
          padding-left: 10px
          padding-right: 0
          &_number
            display: none
          &_organization
            margin-left: 0
            width: 78px
          &_safety
            margin-left: 0
          &_rating
            margin-left: 0px
            padding-left: 12px
          &_bonuses
            padding-left: 15px
      &-content
        width: 280px
      &-table
        &-cell
          &_number
            display: none
          &_rating
            padding-right: 10px
            padding-left: 15px
          &_site
            display: none
          &_safety
            width: 70px
            padding-right: 15px
            padding-left: 8px
          &_organization
            width: 70px
            padding-right: 10px
            padding-left: 10px
          &_bonuses
            display: none
          &_review
            padding-right: 5px
      .mainItem
        &-organization
          width: 70px
        &-safety
          font-size: 10px
        &-rating
          font-size: 10px
        &-review
          padding: 10px 10px 10px 10px
          font-size: 10px
          &:before
            display: none

    .wrapper
      display: flex
      flex-wrap: wrap
      .mainSection
        order: 2
      .sidebar
        order: 1
    
    .secondarySection
      &-title
        background: rgba(0,0,0,0.01)
        padding-top: 15px
        padding-left: 18px
        margin-top: 46px
        border: 1px solid rgba(0, 0, 0, 0.06)
        position: relative
        &:before
          content: ""
          position: absolute
          right: 24px
          top: 19px
          width: 2px
          height: 10px
          background: rgba(0, 0, 0, 0.5)
        &:after
          content: ""
          position: absolute
          right: 20px
          top: 23px
          width: 10px
          height: 2px
          background: rgba(0, 0, 0, 0.5)


      .js-mobileFilter
        &_opened
          &:before
            display: none
      .js-mobileFilter-content
        display: none
      .js-resetFilter
        display: none