.header {
  background: #000000; }

.header-wrapper {
  box-sizing: border-box;
  width: 1360px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto; }

.header-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.header-link {
  font-family: HelveticaNeue-Bold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px; }
