body {
  font-family: PTSerif-Regular;
  font-size: 15px;
  color: #000000;
  line-height: 21px; }

.buttonAuth {
  float: right;
  font-family: HelveticaNeue-Bold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  text-decoration: none;
  padding: 23px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top; }

.ajaxLoad {
  font-family: HelveticaNeue-Bold;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 14px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 37px;
  padding: 13px;
  border: 1px solid #F0F0F0;
  background: none; }

.title {
  font-family: HelveticaNeue-CondensedBold;
  margin: 33px 0 6px 0;
  font-size: 32px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 44px;
  display: inline-block; }

.subtitle {
  font-family: HelveticaNeue-CondensedBold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 49px;
  padding-bottom: 10px;
  margin-bottom: 0; }

.navigationItemLink {
  color: #D8D8D8;
  text-decoration: none; }

.header {
  background: #000000; }

.header-wrapper {
  box-sizing: border-box;
  width: 1360px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto; }

.header-navigation {
  display: inline-block;
  vertical-align: top; }

.header-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.header-link {
  font-family: HelveticaNeue-Bold;
  font-size: 13px;
  color: white;
  letter-spacing: 0;
  line-height: 18px;
  text-decoration: none;
  padding: 23px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top; }

.header-logo {
  padding: 18px;
  display: inline-block;
  vertical-align: top;
  color: white;
  text-transform: uppercase;
  font-family: HelveticaNeue-Bold;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  position: relative; }

.header-logo span {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 10px; }

.footer {
  background: black;
  color: white; }

.footer-wrapper {
  box-sizing: border-box;
  width: 1360px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto; }

.footer-disclaimer {
  color: #D8D8D8; }

.footer-copyright {
  color: #D8D8D8; }

.betTv {
  background: url("../img/betTv-background.jpg") center 580px;
  background-size: cover; }

.betTv-header {
  display: flex;
  justify-content: space-between; }

.betTv-tabs {
  display: inline-block;
  vertical-align: middle; }

.betTv-tabItem {
  opacity: 0.6;
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: none;
  margin-top: 55px;
  display: inline-block; }

.betTv-grid {
  padding-top: 32px;
  text-align: center; }

.betTv-title {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.06); }

.betTv-wrapper {
  box-sizing: border-box;
  width: 1360px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto; }

.betTv-logo {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
  margin-left: 20px;
  margin-bottom: 16px; }

.betTvItem {
  width: 544px;
  display: inline-block;
  vertical-align: top; }

.betTvItem:first-child {
  margin-right: 33px; }

.betTvItem-title {
  text-align: left;
  font-family: HelveticaNeue-Bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 33px; }

.bonuses {
  width: 832px;
  display: inline-block;
  margin-right: 32px;
  vertical-align: top; }

.bonuses-grid {
  padding-top: 24px;
  border-top: 2px solid rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px; }

.bonusesItem {
  width: 187px;
  margin-right: 28px;
  margin-bottom: 44px; }

.bonusesItem:nth-child(4n) {
  margin-right: 0; }

.bonusesItem-link {
  text-decoration: none; }

.bonusesItem-title {
  font-family: HelveticaNeue-Medium;
  font-size: 10px;
  margin: 8px 0 0 0;
  color: #F24242;
  letter-spacing: 0;
  line-height: 16px;
  text-transform: uppercase; }

.bonusesItem-date {
  font-family: HelveticaNeue-Medium;
  font-size: 10px;
  margin: 8px 0 0 0;
  color: black;
  letter-spacing: 0;
  line-height: 16px;
  text-transform: uppercase; }

.betSchool-grid {
  border-top: 2px solid rgba(0, 0, 0, 0.06); }

.betSchoolItem {
  margin-bottom: 16px;
  margin-top: 24px; }

.betSchoolItem-image {
  margin-right: 12px; }

.betSchoolItem-link {
  text-decoration: none; }

.betSchoolItem-content {
  display: inline-block;
  vertical-align: top;
  width: 176px; }

.betSchoolItem-title {
  margin: 0;
  font-family: PTSerif-Regular;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 7px; }

.betSchoolItem-description {
  text-transform: uppercase;
  font-family: HelveticaNeue-Medium;
  font-size: 10px;
  color: #F24242;
  letter-spacing: 0;
  line-height: 16px; }

.newsSection {
  width: 832px;
  margin-left: 100px;
  display: inline-block;
  margin-right: 32px; }

.newsSection-tabs {
  display: inline-block;
  margin-top: 55px; }

.newsSection-tabLink {
  opacity: 0.6;
  text-decoration: none;
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 30px; }

.newsSection-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 24px;
  border-top: 2px solid rgba(0, 0, 0, 0.06); }

.newsItem {
  width: 187px;
  margin-right: 28px;
  margin-bottom: 44px; }

.newsItem:nth-child(4n) {
  margin-right: 0; }

.newsItem-link {
  text-decoration: none; }

.newsItem-title {
  font-family: HelveticaNeue-Medium;
  font-size: 10px;
  margin: 8px 0 0 0;
  color: #F24242;
  letter-spacing: 0;
  line-height: 16px;
  text-transform: uppercase; }

.newsItem-date {
  font-family: HelveticaNeue-Medium;
  font-size: 10px;
  margin: 8px 0 0 0;
  color: black;
  letter-spacing: 0;
  line-height: 16px;
  text-transform: uppercase; }

.newsItem-description {
  font-family: PTSerif-Regular;
  font-size: 15px;
  color: #000000;
  margin-top: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  line-height: 21px; }

.newsPage-wrapper {
  box-sizing: border-box;
  width: 1360px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto; }

.newsPage-header {
  display: flex;
  justify-content: space-between; }

.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 256px; }

.prognosisSection-titleWrapper {
  display: flex;
  justify-content: space-between; }

.prognosisSection-sortingFilter {
  align-self: flex-start;
  margin-top: 51px; }

.prognosisSection-matchesGrid {
  border-top: 2px solid rgba(0, 0, 0, 0.06); }

.prognosisItem {
  display: flex;
  justify-content: flex-start; }

.prognosisItem-picture {
  width: 26px;
  height: 26px;
  margin-right: 7px; }

.prognosisItem-title {
  display: inline-block;
  width: 160px;
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 16px; }

.prognosisItem-date {
  display: inline-block;
  width: 50px;
  font-size: 10px;
  opacity: 0.6;
  font-family: HelveticaNeue-Medium;
  color: #000000;
  letter-spacing: 0;
  line-height: 16px; }

.prognosisItem-time {
  font-size: 13px; }

.prognosisItem-link {
  text-decoration: none; }

.stockSection-title {
  border-bottom: 2px solid rgba(0, 0, 0, 0.06); }

.stockSection-image {
  margin-top: 24px;
  display: block;
  width: 100%;
  height: 280px;
  background: rgba(0, 0, 0, 0.06); }

.matchesSection-titleWrapper {
  display: flex;
  justify-content: space-between; }

.matchesSection-sortingFilter {
  align-self: flex-start;
  margin-top: 51px; }

.matchesSection-matchesGrid {
  border-top: 2px solid rgba(0, 0, 0, 0.06);
  padding-top: 24px; }

.matchItem {
  border: 2px solid rgba(0, 0, 0, 0.06);
  margin-bottom: 4px; }

.matchItem-date {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  font-size: 10px;
  opacity: 0.6;
  font-family: HelveticaNeue-Medium;
  color: #000000;
  letter-spacing: 0;
  line-height: 16px; }

.matchItem-time {
  font-size: 13px; }

.matchItem-link {
  text-decoration: none; }

.matchItem-teams {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  padding: 16px 0px 16px 16px; }

.matchItem-firstTeam, .matchItem-secondTeam {
  display: inline-block;
  width: 150px; }

.matchItem-firstTeamTitle, .matchItem-secondTeamTitle {
  margin: 0;
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px; }

.matchItem-firstTeamPicture, .matchItem-secondTeamPicture {
  margin-right: 12px; }
