//=respond-to($media)
//  @if $media == mobile  
//    @media only screen and (max-width: $mobile-widths-only)
//      box-sizing: border-box
//      padding-left: 10px
//      padding-right: 10px
//      width: 300px
//   
//  @else if $media == tablet-widths-only  
//    @media only screen and (max-width: $tablet-widths-only-max) and (min-width: $tablet-widths-only-min)
//      box-sizing: border-box
//      padding-left: 20px
//      padding-right: 20px
//      width: 600px
//
//  @else if $media == small-desktop
//    @media only screen and (min-width: $small-desktop-widths)
//      box-sizing: border-box
//      padding-left: 11px
//      padding-right: 11px
//      width: 970px    


=mixinContainer
  box-sizing: border-box
  width: 1360px
  padding-left: 16px
  padding-right: 16px
  margin: 0 auto
  @media only screen and (min-width: $small-desktop-widths) and (max-width: $small-desktop-widths-max)
      box-sizing: border-box
      padding-left: 11px
      padding-right: 11px
      width: 992px

  @media only screen and (max-width: $tablet-widths-only-max) and (min-width: $tablet-widths-only-min)
      box-sizing: border-box
      padding-left: 20px
      padding-right: 20px
      width: 640px

  @media only screen and (max-width: $mobile-widths-only)
      box-sizing: border-box
      padding-left: 10px
      padding-right: 10px
      width: 300px


=ca 
  display: inline-block
  list-style: none

=transition($target, $delay, $effect)
  transition: $target, $delay, $effect

body
  font-family: PTSerif-Regular
  font-size: 15px
  color: #000000
  line-height: 21px