.promotionsPage
  & .wrapper
    +mixinContainer
  .mainSection
    margin-bottom: 24px
    margin-left: 104px;
    margin-top: 33px;
    margin-right: 28px
    &-footer
      border-top: 2px solid rgba(0,0,0,0.06)
      padding-top: 16px
      margin-bottom: 60px
      &-socials
        top: 14px
      &-link
        text-decoration: none
        text-transform: uppercase
        font-family: HelveticaNeue-Medium;
        font-size: 10px;
        margin-right: 24px
        color: #F24242;
        letter-spacing: 0;
        line-height: 16px;
    &-content-block
      margin-bottom: 40px
    &-title
      margin-top: 0
      margin-bottom: 12px
      font-family: HelveticaNeue-Bold;
      font-size: 18px;
      color: #000000;
      letter-spacing: 0;
      line-height: 24px;
    &-grid
      padding-top: 24px
      display: flex
      justify-content: flex-start
      flex-wrap: wrap
    &-paragraph
      margin-top: 10px;
      margin-bottom: 21px;
      font-family: HelveticaNeue;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
      line-height: 21px;
    &-list
      margin: 0
      padding-left: 40px;
      font-family: HelveticaNeue-Bold;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
      line-height: 19px;
      li
        margin-bottom: 21px
  .promotionsPreview
    background: url("../img/promotions-image.jpg") center center
    background-size: cover
    min-height: 636px
    .wrapper
      position: relative
    &-prevPage
      padding: 10px 16px 10px 40px
      font-family: HelveticaNeue-Bold;
      text-transform: uppercase
      text-decoration: none
      font-size: 11px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 12px;
      position: absolute
      top: 50px
      left: 120px
      background: rgba(255,255,255, 0.08)
      border: 1px solid rgba(255,255,255, 0.15)
      &:after
        content: "";
        position: absolute;
        left: 12px;
        top: 10px;
        width: 13px;
        height: 13px;
        background: url("../img/arrow-left.png") no-repeat
    &-content
      padding-left: 100px
    &-title
      padding-top: 444px;
      margin-top: 0;
      margin-bottom: 12px;
      font-family: PTSerif-Bold;
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 46px;
      width: 830px;
    &-slogan
      display: block
      width: 530px
      font-family: HelveticaNeue;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 26px;
    &-team
      text-transform: uppercase
      font-family: HelveticaNeue-Bold;
      font-size: 13px;
      color: #FFFFFF;
      margin-right: 32px
      letter-spacing: 1px;
      line-height: 16px;
    &-date
      text-transform: uppercase
      font-family: HelveticaNeue-Bold;
      font-size: 13px;
      color: #FFFFFF;
      letter-spacing: 1px;
      line-height: 14px;
      span
        color: rgba(255,255,255,0.6)
  .sidebar
    margin-top: 40px
        
  .betSchool.sidebar
    margin-top: 0
    margin-bottom: 1px

