.header
  background: #000000
  &-wrapper
    +mixinContainer
  &-navigation
    display: inline-block
    vertical-align: top
    ul
      margin: 0
      padding: 0
      list-style: none
  &-link
    font-family: HelveticaNeue-Bold
    opacity: .8
    font-size: 13px
    color: white
    letter-spacing: 0
    line-height: 18px
    text-decoration: none
    padding: 23px
    text-transform: uppercase
    display: inline-block
    vertical-align: top
    
  &-logo
    padding: 18px
    display: inline-block
    vertical-align: top
    color: white
    text-transform: uppercase
    font-family: HelveticaNeue-Bold;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    position: relative;
    span
      display: inline-block
      vertical-align: top;
      padding-top: 5px;
      padding-left: 10px;
