//.container
//  background: #000
//  &Blue
//    background: blue
//    &-hovered
//      background: red

.header
  background: #000000
  &-wrapper
    +mixinContainer
  &-navigation
    ul
      margin: 0
      padding: 0
      list-style: none
  &-link
    font-family: HelveticaNeue-Bold;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;