.matchesPage
  &-grid
    border-top: 2px solid rgba(0, 0, 0, 0.06)
  &-table
    width: 100%
    border-collapse: collapse
    margin-bottom: 64px
    &-cell
      padding: 16px 0 16px 0
      &_prognosis
        width: 70px
      &_time
        padding-left: 20px
        width: 60px
    &-row
      border-bottom: 1px solid rgba(0, 0, 0, 0.06)
      &:last-child
        border: none
        
  .mainItem
    &-data
      padding-left: 20px
      opacity: 0.6;
      font-family: HelveticaNeue-Medium;
      font-size: 10px;
      color: #000000;
      letter-spacing: 0;
      line-height: 16px;
    &-time
      padding-left: 20px
      opacity: 0.6;
      font-family: HelveticaNeue-Medium;
      font-size: 13px;
      color: #000000;
      letter-spacing: 0;
      line-height: 16px;
    &-prognosis
      padding-left: 38px
    &-teams-logo
      display: inline-block
      vertical-align: middle
    &-firstTeam
      margin-right: 20px
      display: inline-block
      vertical-align: middle
      text-align: right
      font-family: HelveticaNeue-Medium;
      font-size: 13px;
      color: #000000;
      letter-spacing: 0;
      line-height: 16px;
    &-secondTeam
      margin-left: 20px
      display: inline-block
      vertical-align: middle
      font-family: HelveticaNeue-Medium;
      font-size: 13px;
      color: #000000;
      letter-spacing: 0;
      line-height: 16px;
    &-score
      margin: 0 32px
      text-align: center
    &-firstModify,
    &-secondModify,
    &-thirdModify
      padding: 4px 8px
      border: 1px solid rgba(0, 0, 0, 0.06)
      border-radius: 3px
  
  .mainSection
    &-header
      &-title
        margin-left: auto
        margin-right: auto
        img
          display: inline-block
          vertical-align: middle
          margin-right: 20px
        span
          display: inline-block
          vertical-align: middle
          font-family: HelveticaNeue-Medium;
          font-size: 13px;
          color: #000000;
          letter-spacing: 0;
          line-height: 16px;
    
          
    &-table
      margin-bottom: 0
      display: none
      &-cell
        &_prognosis
          padding-right: 0px
          text-transform: uppercase
        &_firstTeam
          text-align: right
        &_firstTeam,
        &_secondTeam
          width: 200px
        &_date
          width: 60px

    &-content-block
      margin-bottom: 40px