.buttonAuth
  float: right
  font-family: HelveticaNeue-Bold
  font-size: 13px
  color: #FFFFFF
  letter-spacing: 0
  line-height: 18px
  text-decoration: none
  padding: 23px 15px 23px 23px
  text-transform: uppercase
  display: inline-block
  vertical-align: top
  background: none
  border: none
  cursor: pointer
  position: relative
  &:before
    content: "";
    position: absolute;
    top: 26px;
    left: -1px;
    width: 12px;
    height: 12px;
    background: url(../img/arrow-right.png) no-repeat
  &:active, &:focus
    outline: none
  &-mobile
    display: none
    
.button
  &_getBonus
    cursor: pointer
    text-transform: uppercase
    font-family: HelveticaNeue-Bold;
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 12px;
    padding: 14px 55px
    width: 100%
    background: #43A42F;
    border-radius: 1px;
  
.ajaxLoad
  font-family: HelveticaNeue-Bold
  font-size: 13px
  color: #000000
  letter-spacing: 0
  text-transform: uppercase
  line-height: 14px
  width: 100%
  margin-bottom: 0
  padding: 13px
  border: 1px solid #F0F0F0
  background: none;
  &-newsSection
    display: block
    margin-bottom: 64px
  &-bonuses
    display: block
    margin-top: 0px
  &-betSchool
    display: block
    margin-bottom: 0
    margin-bottom: 60px
    
.tabs
  display: inline-block
  &-tabLink
    opacity: 0.6;
    text-decoration: none
    font-family: HelveticaNeue-Medium;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    line-height: 16px;
    margin-left: 20px
    
.slick
  &-arrow
    color: white
    position: absolute
    z-index: 2
    bottom: 80px
    border: none
    background: none
    font-size: 0
    width: 40px;
    height: 20px
    &:active, &:focus
    outline: none
  &-next
    right: 40px
    background: url("../img/slick-right.png") no-repeat 4px 3px
  &-prev
    background: url("../img/slick-right.png") no-repeat 5px 3px
    transform: rotate(180deg)
    left: 38px

@media (min-width: $small-desktop-widths) and (max-width: $small-desktop-widths-max)
  .buttonAuth
    font-size: 11px
    

@media (min-width: $tablet-widths-only-min) and (max-width: $tablet-widths-only-max)
  .ajaxLoad
    &-matchesSection
      margin-bottom: 30px
      
@media (min-width: $tablet-widths-only-min) and (max-width: $tablet-widths-only-max)
  .buttonAuth
    margin-right: 50px
    
@media (max-width: $mobile-widths-only)
  .buttonAuth
    display: none
    &-mobile
      color: white
      opacity: 1
      margin-right: 0
      padding: 22px 0px 22px 34px
      float: none
      display: block
      font-size: 13px
      position: relative

  .ajaxLoad
    &-newsSection
      margin-bottom: 0px
    &-matchesSection
      margin-bottom: 25px