.navigationItemLink
  color: #D8D8D8
  text-decoration: none
  margin-bottom: 16px
  display: block
  font-size: 14px;
  line-height: 16px;
  
.navigationItemIcon
  display: inline-block
  vertical-align: top
  margin-right: 15px
  height: 20px
  width: 20px
  background: center center
  &-facebook
    background: url("../img/facebook.png") no-repeat
    margin-right: 10px
  &-vk
    background: url("../img/vk.png") no-repeat -1px 4px
  &-youtube
    background: url("../img/youtube.png") no-repeat 0 3px
  &-twitter
    background: url("../img/twitter.png") no-repeat 0 3px
  &-apple
    margin-left: 45px
    background: url("../img/apple.png") no-repeat
  &-google
    background: url("../img/google.png") no-repeat 0 2px