.articlePage
  & .wrapper
    +mixinContainer
  .mainSection
    margin-left: 104px
    margin-bottom: 5px
    margin-right: 28px
    padding-top: 30px
    &-footer
      border-top: 2px solid rgba(0,0,0,0.06)
      padding-top: 12px
      margin-bottom: 60px
      &-socials
        top: 10px
      &-link
        text-decoration: none
        text-transform: uppercase
        font-family: HelveticaNeue-Medium;
        font-size: 10px;
        margin-right: 24px
        color: #F24242;
        letter-spacing: 0;
        line-height: 16px;
    &-content-block
      margin-bottom: 40px
    &-title
      margin-top: 0
      margin-bottom: 12px
      font-family: HelveticaNeue-Bold;
      font-size: 18px;
      color: #000000;
      letter-spacing: 0;
      line-height: 24px;
    &-grid
      padding-top: 24px
      display: flex
      justify-content: flex-start
      flex-wrap: wrap
    &-paragraph
      margin-top: 10px;
      margin-bottom: 21px;
      font-family: HelveticaNeue;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
      line-height: 21px;
    &-list
      margin: 0
      padding-left: 40px;
      font-family: HelveticaNeue-Bold;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
      line-height: 19px;
      li
        margin-bottom: 21px
  .articlePreview
    background: url("../img/article-image.jpg") center center
    background-size: cover
    min-height: 636px
    .wrapper
      position: relative
    &-prevPage
      padding: 10px 16px 10px 40px
      font-family: HelveticaNeue-Bold;
      text-transform: uppercase
      text-decoration: none
      font-size: 11px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 12px;
      position: absolute
      top: 50px
      left: 120px
      background: rgba(255,255,255, 0.08)
      border: 1px solid rgba(255,255,255, 0.15)
      &:after
        content: "";
        position: absolute;
        left: 12px;
        top: 10px;
        width: 13px;
        height: 13px;
        background: url("../img/arrow-left.png") no-repeat
    &-content
      padding-left: 100px
    &-title
      padding-top: 354px;
      margin-top: 0;
      margin-bottom: 12px;
      font-family: PTSerif-Bold;
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 46px;
      width: 800px;
    &-slogan
      display: block
      width: 530px
      font-family: HelveticaNeue;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 26px;
      margin-bottom: 37px
    &-team
      text-transform: uppercase
      font-family: HelveticaNeue-Bold;
      font-size: 13px;
      color: #FFFFFF;
      margin-right: 32px
      letter-spacing: 1px;
      line-height: 16px;
    &-date
      text-transform: uppercase
      font-family: HelveticaNeue-Bold;
      font-size: 13px;
      color: #FFFFFF;
      letter-spacing: 1px;
      line-height: 14px;
      span
        color: rgba(255,255,255,0.6)
  .prognosisSection
    &-title
      margin-top: 30px
    &-sortingFilter
      margin-top: 33px
  .betSchool.sidebar
    margin-bottom: 1px
    

@media (min-width: $small-desktop-widths) and (max-width: $small-desktop-widths-max)
  .articlePage
    .mainSection
      margin-left: 0
      width: 615px
      padding-bottom: 25px

    .articlePreview
      &-content
        padding-left: 0
      &-prevPage
        left: 20px
      &-title
        font-size: 36px

@media (min-width: $tablet-widths-only-min) and (max-width: $tablet-widths-only-max)
  .articlePage
    .mainSection
      margin-left: 0
      width: 600px
      padding-bottom: 25px
      margin-right: 0
      &-footer
        margin-bottom: 0
        &-link
          margin-right: 15px
    .articlePreview
      &-content
        padding-left: 0
      &-prevPage
        left: 20px
      &-title
        padding-top: 300px
        font-size: 36px
        width: 400px
      &-slogan
        width: 350px
      &-details
        padding-bottom: 25px


@media (max-width: $mobile-widths-only)
  .articlePage
    .mainSection
      margin-left: 0
      width: 280px
      padding-bottom: 25px
      margin-right: 0
      padding-bottom: 0
      &-footer
        padding-top: 12px
        margin-bottom: 0
        &-link
          margin-right: 15px
        &-socials
          position: relative;
          padding-top: 10px;
          left: -12px
          top: 0;
          width: 160px;
    .articlePreview
      min-height: 520px
      &-content
        padding-left: 0
      &-prevPage
        top: 20px
        left: 10px
      &-title
        width: 280px
        font-size: 26px;
        line-height: 32px;
        padding-top: 240px
      &-slogan
        width: 190px;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px
      &-team
        font-size: 10px
        display: block
      &-date
        font-size: 10px
      &-details
        padding-bottom: 20px

    
