.samplePage
  & .wrapper
    +mixinContainer
  .mainSection
    margin-bottom: 66px
    margin-left: 104px
    margin-right: 28px
    &-content-block
      margin-top: 0px
      margin-bottom: 0
    &-title
      font-family: HelveticaNeue-Bold
      font-size: 32px
      color: #000000
      letter-spacing: 0
      line-height: 40px
    &-subtitle
      margin-top: 34px
      margin-bottom: 29px
      text-transform: none
      font-family: HelveticaNeue-Bold
      font-size: 24px
      color: #000000
      letter-spacing: 0
      line-height: 32px
      &-small
        margin-bottom: 40px
        font-family: HelveticaNeue-Bold
        font-size: 18px
        color: #000000
        letter-spacing: 0
        line-height: 24px
    &-quote
      border: 1px solid rgba(238,228,206,0.8)
      margin-top: 60px
      margin-bottom: 40px
      background: #FCF7ED
      padding: 20px 32px 26px 32px
      font-family: HelveticaNeue
      font-size: 18px
      color: #000000
      letter-spacing: 0
      line-height: 26px
      box-shadow: 0px 0px 32px 12px rgba(238,228,206,0.3)
    &-paragraph
      margin-top: 10px
      margin-bottom: 21px
      font-family: HelveticaNeue
      font-size: 15px
      color: #000000
      letter-spacing: 0
      line-height: 21px
    &-list
      margin-top: 48px
      font-family: HelveticaNeue
      font-size: 15px
      color: #000000
      letter-spacing: 0
      line-height: 40px
      li
        line-height: 20px
        margin-bottom: 20px
    &-marker
      margin-top: 43px
      font-family: HelveticaNeue
      font-size: 15px
      color: #000000
      letter-spacing: 0
      line-height: 21px
      margin-bottom: 60px
      li
        margin-bottom: 19px
    &-image
      background: #D8D8D8
      min-height: 624px
      min-width: 832px
      margin-bottom: 60px
    &-simpleTable
      &-block
        .subtitle
          margin-top: 0
      &-content
        margin-top: 24px
        margin-bottom: 45px
      &-item
        border: 1px solid rgba(0, 0, 0, 0.06)
        padding: 11px 0
        display: flex
        justify-content: space-between
        font-family: HelveticaNeue-Medium
        font-size: 13px
        color: #000000
        letter-spacing: 0
        line-height: 16px
    &-table
      margin-top: 25px
      &-row
      font-family: HelveticaNeue-Medium
      font-size: 13px
      color: #000000
      letter-spacing: 0
      line-height: 16px
      &-header
        text-transform: uppercase
        border: 1px solid rgba(0, 0, 0, 0.06)
        background: rgba(0,0,0,0.03)
        opacity: 0.2
        color: #000000
        letter-spacing: 0
        line-height: 16px
        font-size: 13px
        .mainSection-table-cell
          padding-top: 24px
          padding-bottom: 24px
      &-cell
        font-family: HelveticaNeue-CondensedBold
        padding: 12px 0
        &_number
          padding-left: 24px
        &_score
          text-align: right
          padding-right: 24px
          width: 190px
        &_organization
          width: 185px
          padding-left: 25px
          text-transform: uppercase
          
  .betSchool.sidebar
    margin-bottom: 0px
    
@media (min-width: $small-desktop-widths) and (max-width: $small-desktop-widths-max)
  .samplePage
    .mainSection
      margin-left: 0
      width: 615px
      padding-bottom: 25px
      &-image
        min-width: 615px
        min-height: 460px
        margin-bottom: 30px
      &-table
        &-cell
          &_safety
            padding-right: 15px
          &_rating
            padding-right: 15px
     

@media (min-width: $tablet-widths-only-min) and (max-width: $tablet-widths-only-max)
  .samplePage
    .mainSection
      margin-left: 0
      width: 600px
      margin-right: 0
      padding-bottom: 25px
      margin-bottom: 0
      &-image
        min-width: 600px
        min-height: 450px
        margin-bottom: 30px
      &-table
        &-cell
          &_safety
            padding-right: 15px
          &_rating
            padding-right: 15px
    


@media (max-width: $mobile-widths-only)
  .samplePage
    .mainSection
      margin-left: 0
      width: 280px
      margin-right: 0
      padding-bottom: 25px
      margin-bottom: 0
      &-title
        font-size: 24px
      &-subtitle
        font-size: 20px
        &-small
          font-size: 16px
      &-image
        min-width: 280px
        min-height: 210px
        margin-bottom: 30px
      &-table
        &-cell
          font-size: 10px
          &_organization
            padding-left: 5px
            padding-right: 5px
          &_safety
            padding-right: 5px
          &_rating
            padding-right: 5px
          &_number
            display: none
          &_score
            padding-right: 5px
            padding-left: 5px
    
    
