.bookmakerPage
  & .wrapper
    +mixinContainer
  .mainSection
    &-grid
      display: flex
      justify-content: flex-start
      flex-wrap: wrap
      border: none
      margin-bottom: 28px
      padding-right: 2px
    .title
      margin-top: 25px
      margin-bottom: 10px
      font-family: HelveticaNeue-CondensedBold
      font-size: 18px
      color: #000000
      letter-spacing: 0
      line-height: 24px
    h1
      font-family: HelveticaNeue-Bold
      font-size: 32px
      color: #000000
      letter-spacing: 0
      line-height: 40px
    h2
      font-family: HelveticaNeue-Bold
      font-size: 18px
      color: #000000
      letter-spacing: 0
      line-height: 24px
    h3
      margin-top: 0
      margin-bottom: 12px
      font-family: HelveticaNeue-Bold
      font-size: 18px
      color: #000000
      letter-spacing: 0
      line-height: 24px
    blockquote
      border: 1px solid rgba(238,228,206,0.8)
      margin-top: 60px
      margin-bottom: 40px
      margin-left: 0
      margin-right: 0
      background: #FCF7ED
      padding: 20px 32px 26px 32px
      font-family: HelveticaNeue
      font-size: 18px
      color: #000000
      letter-spacing: 0
      line-height: 26px
      box-shadow: 0px 0px 32px 12px rgba(238,228,206,0.3)
    p
      font-family: HelveticaNeue
      font-size: 15px
      color: #000000
      letter-spacing: 0
      line-height: 21px
      margin-top: 10px
    ol
      margin-top: 48px
      font-family: HelveticaNeue
      font-size: 15px
      color: #000000
      letter-spacing: 0
      line-height: 40px
      li
        line-height: 20px
        margin-bottom: 20px
    ul
      margin-top: 43px
      font-family: HelveticaNeue
      font-size: 15px
      color: #000000
      letter-spacing: 0
      line-height: 21px
      margin-bottom: 60px
      li
        margin-bottom: 19px
    img
      background: #D8D8D8
      width: 100%
      margin-bottom: 60px
    &-simpleTable
      &-block
        h2
          margin-top: 0
          margin-bottom: 0
          padding-top: 4px
          padding-bottom: 9px
          text-transform: uppercase
          font-family: HelveticaNeue-CondensedBold;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
          line-height: 24px;
          border-bottom: 2px solid rgba(0,0,0,0.06)
      &-content
        margin-top: 24px
        margin-bottom: 45px
      &-item
        border: 1px solid rgba(0, 0, 0, 0.06)
        padding: 11px 0
        display: flex
        justify-content: space-between
        font-family: HelveticaNeue-Medium
        font-size: 13px
        color: #000000
        letter-spacing: 0
        line-height: 16px
    &-table
      margin-bottom: 45px
      &-block
        h2
          margin-top: 0
          margin-bottom: 0
          padding-top: 4px
          padding-bottom: 9px
          text-transform: uppercase
          font-family: HelveticaNeue-CondensedBold;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
          line-height: 24px;
          border-bottom: 2px solid rgba(0,0,0,0.06)
      margin-top: 25px
      &-row
        font-family: HelveticaNeue-Medium
        font-size: 13px
        color: #000000
        letter-spacing: 0
        line-height: 16px
      &-header
        text-transform: uppercase
        border: 1px solid rgba(0, 0, 0, 0.06)
        background: rgba(0,0,0,0.03)
        opacity: 0.2
        color: #000000
        letter-spacing: 0
        line-height: 16px
        font-size: 13px
        .mainSection-table-cell
          padding-top: 24px
          padding-bottom: 24px
          font-family: HelveticaNeue-CondensedBold
      &-cell
        font-family: HelveticaNeue-Medium
        padding: 12px 0
        &_number
          padding-left: 24px
        &_score
          text-align: right
          padding-right: 24px
          width: 190px
        &_organization
          width: 185px
          padding-left: 25px
          text-transform: uppercase
    
  .reviewSection
    width: 832px
    display: inline-block
    vertical-align: top
    margin-right: 32px
    .reviewItem
      margin-bottom: 11px

  .bookmakerSiteSection
    &-grid
      margin-bottom: 40px
    .reviewItem
      margin-bottom: 11px
    img
      margin-top: 15px
      margin-bottom: 20px
    &-footer
      border-top: 2px solid rgba(0,0,0,0.06)
      padding-top: 16px
      margin-bottom: 66px
      position: relative
      &-links
        display: inline-block
      &-link
        margin-right: 21px
        text-decoration: none
        text-transform: uppercase
        font-family: HelveticaNeue-Medium
        font-size: 10px
        color: #F24242
        letter-spacing: 0
        line-height: 16px
        &:hover
          opacity: .7
        &:active
          opacity: .9
          
      &-socials
        position: absolute
        top: 17px
        right: 0
      &-social
        display: inline-block
        width: 24px
        height: 24px
        background: url("../img/social.svg") no-repeat
        margin-left: 10px
        &:hover
          opacity: .7
        &:active
          opacity: .9
        &_facebook
          background-position: 0 0
        &_vk
          background-position: -40px 0
        &_twitter
          background-position: -80px 0
        &_google
          background-position: -120px 0
        


  .secondarySection
    &-grid
      background: rgba(0,0,0,0.01)

  .mainItem
    &-number
      padding-left: 24px

  .schoolItem
    width: 184px
    margin-right: 32px
    margin-bottom: 43px
    &-link
      text-decoration: none
    &:nth-child(4n)
      margin-right: 0
    &-title
      text-transform: uppercase
      font-family: HelveticaNeue-Medium
      font-size: 10px
      color: #F24242
      letter-spacing: 0
      line-height: 16px
    &-description
      font-family: PT Serif
      font-size: 15px
      color: #000000
      letter-spacing: 0
      line-height: 21px
      
  .thesisSection
    &-title
      margin-top: 25px
      border-bottom: 2px solid rgba(0,0,0,0.06)
    &-grid
      margin-top: 24px
      border: 1px solid rgba(0,0,0,0.02)
      margin-bottom: 15px
      ul
        margin: 0
        padding: 0
        list-style: none
    &-item
      border-bottom: 1px solid rgba(0,0,0,0.02)
      padding: 15px 0 16px 0
      padding-right: 100px
      font-family: HelveticaNeue-Medium
      font-size: 13px
      color: #000000
      letter-spacing: 0
      line-height: 16px
      position: relative
      &-icons
        position: absolute
        right: 1px
        top: 15px
      &-icon
        margin-left: 13px
        &_russianSupport
          position: absolute
          right: 1px
          top: 18px
        &_mobile
          margin-right: 6px

  .paymentsSection
    &-title
      display: inline-block
    &-grid
      margin-top: 24px
      display: block
      &-sorting
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        &_get
          display: none
    &-titleWrapper
      border-bottom: 2px solid rgba(0,0,0,0.06)
      display: flex
      justify-content: space-between
    &-tabs
      margin-top: 15px
    &-tabLink
     &:hover
      color: rgba(0,0,0,0.6)
         
      
  .paymentItem
    text-align: center
    width: 55px
    padding: 19px 14px 
    border: 1px solid rgba(0,0,0,0.02)
    
  .depositesSection
    &-title
      margin-top: 47px
      border-bottom: 2px solid rgba(0,0,0,0.06)
    &-grid
      margin-top: 24px
      border: 1px solid rgba(0,0,0,0.02)
      ul
        margin: 0
        padding: 0
        list-style: none
    &-item
      border-bottom: 1px solid rgba(0,0,0,0.08)
      padding: 15px 0 16px 0
      font-family: HelveticaNeue-Medium
      font-size: 13px
      color: #000000
      letter-spacing: 0
      line-height: 16px
      position: relative
      &-title
        width: 170px
        display: block
      &-content
        position: absolute
        right: 0
        top: 18px
        
  .betSchool.sidebar
    margin-bottom: 0
    

@media (min-width: $small-desktop-widths) and (max-width: $small-desktop-widths-max)
  .bookmakerPage
    .mainSection
      margin-left: 0
      width: 615px
      padding-bottom: 25px
      &-table
        margin-bottom: 45px
        &-cell
          &_safety
            padding-right: 15px
          &_rating
            padding-right: 15px
    .reviewSection
      width: auto
      margin-right: 0
    .bookmakerSiteSection
      img
        width: 100%

@media (min-width: $tablet-widths-only-min) and (max-width: $tablet-widths-only-max)
  .bookmakerPage
    .mainSection
      margin-right: 0
      margin-left: 0
      width: 600px
      padding-bottom: 25px
      &-table
        margin-bottom: 45px
        &-cell
          &_safety
            padding-right: 15px
          &_rating
            padding-right: 15px
    .reviewSection
      width: auto
      margin-right: 0
    .bookmakerSiteSection
      img
        width: 100%
      &-footer
        margin-bottom: 0
        
    .thesisSection
      &-item
        &-icon
          &_russianSupport
            top: 3px

@media (max-width: $mobile-widths-only)
  .bookmakerPage
    .mainSection
      margin-right: 0
      margin-left: 0
      width: 280px
      padding-bottom: 25px
      padding-bottom: 0
      h1
        font-size: 24px
      h2
        font-size: 20px
      h3
        font-size: 16px
      &-table
        margin-bottom: 45px
        &-cell
          font-size: 10px
          &_organization
            padding-left: 5px
            padding-right: 5px
          &_safety
            padding-right: 5px
          &_rating
            padding-right: 5px
          &_number
            display: none
          &_score
            padding-right: 5px
            padding-left: 5px
    .reviewSection
      width: auto
      margin-right: 0
    .bookmakerSiteSection
      img
        width: 100%
      &-footer
        margin-bottom: 0
        padding-top: 10px
        &-link
          margin-right: 15px
          &:nth-child(3)
            margin-right: 0
        &-socials
          position: relative
          padding-top: 10px
          left: -12px
          top: 0
          width: 160px
    .paymentsSection
      &-titleWrapper
        display: flex
        justify-content: space-between
      &-tabs
        margin-top: 15px
  