.bookmakerPage
  & .wrapper
    +mixinContainer
  .mainSection
    &-grid
      padding-top: 24px
      display: flex
      justify-content: flex-start
      flex-wrap: wrap
  .reviewSection
    width: 832px
    display: inline-block
    vertical-align: top
    margin-right: 32px
  .bookmakerSiteSection
    &-footer
      border-top: 2px solid rgba(0,0,0,0.06)
      padding-top: 20px
      margin-bottom: 60px
      &-link
        text-decoration: none
        text-transform: uppercase
        font-family: HelveticaNeue-Medium;
        font-size: 10px;
        color: #F24242;
        letter-spacing: 0;
        line-height: 16px;


  .secondarySection
    &-grid
      background: rgba(0,0,0,0.01)

  .mainItem
    &-number
      padding-left: 24px

  .schoolItem
    width: 184px
    margin-right: 32px
    margin-bottom: 43px
    &-link
      text-decoration: none
    &:nth-child(4n)
      margin-right: 0
    &-title
      text-transform: uppercase
      font-family: HelveticaNeue-Medium
      font-size: 10px
      color: #F24242
      letter-spacing: 0
      line-height: 16px
    &-description
      font-family: PTSerif-Regular
      font-size: 15px
      color: #000000
      letter-spacing: 0
      line-height: 21px
      
  .thesisSection
    &-title
      margin-top: 47px
      border-bottom: 2px solid rgba(0,0,0,0.06)
    &-grid
      margin-top: 24px
      border: 1px solid rgba(0,0,0,0.02)
      ul
        margin: 0
        padding: 0
        list-style: none
    &-item
      border-bottom: 1px solid rgba(0,0,0,0.02)
      padding: 16px 0 16px 0
      padding-right: 100px
      font-family: HelveticaNeue-Medium
      font-size: 13px
      color: #000000
      letter-spacing: 0
      line-height: 16px
      &-icons
        float: right
        
  .paymentsSection
    &-title
      display: inline-block
    &-grid
      margin-top: 24px
      display: flex
      justify-content: flex-start
      flex-wrap: wrap
    &-titleWrapper
      border-bottom: 2px solid rgba(0,0,0,0.06)
      
  .paymentItem
    text-align: center
    width: 55px
    padding: 28px 14px 
    border: 1px solid rgba(0,0,0,0.02)
    
  .depositesSection
    &-title
      margin-top: 47px
      border-bottom: 2px solid rgba(0,0,0,0.06)
    &-grid
      margin-top: 24px
      border: 1px solid rgba(0,0,0,0.02)
      ul
        margin: 0
        padding: 0
        list-style: none
    &-item
      border-bottom: 1px solid rgba(0,0,0,0.02)
      padding: 16px 0 16px 0
      font-family: HelveticaNeue-Medium
      font-size: 13px
      color: #000000
      letter-spacing: 0
      line-height: 16px
      &-content
        float: right